
**/.metals
**/.idea
**/.DS_Store
**/.vscode


###
# excluding frontend files
#
/node_modules
/dist
/target
/unit_test_results
/.cache
/.sass-cache
/connect.lock
/coverage
/documentation
/libpeerconnection.log
/npm-debug.log
/testem.log
/typings
/yarn.lock
/jest-test-results.json
/e2e
/unit_test_results
