@import "../../../../../style/breaking-points.scss";

:host {
  .reviews {
    width: 65%;
    font-family: "Lato";
    font-style: normal;
    margin: 45px 0px;

    p,
    h3,
    h1 {
      margin: 0;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #696f8c;
    }

    .title {
      font-weight: 700;
      font-size: 24px;
      line-height: 32px;
      color: #304659;
      margin-bottom: 25px;
    }

    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .rate {
        width: 100%;
        display: inherit;
        align-items: center;

        mat-icon {
          margin-right: 8px;
        }
      }

      mat-form-field {
        width: 90px;
        border-radius: 4px;

        ::ng-deep {
          .mat-form-field-wrapper {
            padding: 0px;
          }
        }
      }
    }

    .items {
      width: 100%;
      display: flex;
      flex-direction: column;

      .item {
        display: flex;
        flex-direction: column;
        background: white;
        padding: 40px 25px;
        border: 1px solid #e6e8f0;
        border-radius: 10px;
        min-height: 280px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0px;
        }

        .desc {
          display: flex;
          margin-bottom: 25px;

          .image {
            margin-right: 16px;
            width: 80px;
            height: 80px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 50%;
            }
          }

          .details {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
              margin-bottom: 10px;
            }

            .rate {
              display: flex;
              align-items: center;

              mat-icon {
                margin-right: 40px;
              }
            }
          }
        }
      }

      .view-more {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #304659;
        cursor: pointer;
      }
    }

    .text {
      &-big {
        display: flex !important;
      }

      &-mobile {
        display: none !important;
        margin-bottom: 30px;
      }

      p {
        margin-right: 24px;
      }
    }
  }

  @media screen and (max-width: $medium) {
    .reviews {
      width: 100%;

      p {
        font-size: 14px;
      }

      .title {
        font-size: 20px;
      }

      .items {
        .view-more {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: $small) {
    .reviews {
      width: 100%;

      p {
        font-size: 14px;
      }

      .title {
        font-size: 20px;
      }

      .items {
        .item {
          .desc {
            margin-bottom: 15px;

            .image {
              margin-right: 8px;
            }
          }

          .rate {
            flex-direction: column;
            align-items: flex-start !important;

            mat-icon {
              margin-right: 0px;
              margin-bottom: 10px;
            }
          }
        }

        .view-more {
          font-size: 16px;
        }
      }

      .text {
        &-big {
          display: none !important;
        }

        &-mobile {
          display: flex !important;
        }

        p:last-child {
          margin-right: 0px !important;
        }
      }
    }
  }
}
