$primary: #671bb5;
$primary-dark: #4f128d;
$primary-light: #cbbcdb;
$disabled: #f6f7f9;

$secondary: #333333;
$gray: #b1b1b1;
$orange: #f5ae15;
$dark-gray: #5e6282;
$heading-color: #2e2e2e;

$border: #b1b1b1;
$input-fill: #fafafa;
$light-gray: #4e4e4e;
$border-light: #cccccc;
