<div class="header">
  <app-home-page-header [customPositioning]="true"></app-home-page-header>
</div>
<form [formGroup]="formGroup" (ngSubmit)="resetPassword()">

<div class="body">
  <div class="left">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Can't log in?</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="email">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input
              matInput
              type="text"
              [placeholder]="'Type Your Email Address'"
              autocomplete="false"
              [type]="'text'"
              formControlName="emailControl"
            />
            <mat-error *ngIf="formGroup.get('emailControl').invalid">{{
              getEmailErrorMessage()
              }}</mat-error>
          </mat-form-field>
        </div>

        <div class="consent">
          <mat-checkbox [color]="'primary'" formControlName="consentControl">
            By signing, I agree to Reze <a href="">Terms & Conditions</a> and
            <a href="">Privacy statement</a>
            <mat-error *ngIf="formGroup.get('consentControl').invalid && formGroup.get('consentControl').dirty">{{
              getConsentErrorMessage()
              }}</mat-error>
          </mat-checkbox>
        </div>

        <div class="sign-up-button">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [class.disabled]="showLoadingIndicator"
          >
            <mat-spinner
              [diameter]="30"
              *ngIf="showLoadingIndicator"
              [color]="'white'"
            ></mat-spinner>
            <span *ngIf="!showLoadingIndicator">Send recovery link</span>
          </button>
        </div>

        <div class="alternatives">
          <p><a routerLink="/login">Return to log in</a> or continue with</p>
        </div>

        <div class="sign-up-alternatives">
          <div>
            <button mat-stroked-button>
              <mat-icon *ngIf="showIcons" [svgIcon]="'reze:google'"></mat-icon>
              Google
            </button>
          </div>
          <div>
            <button mat-stroked-button>
              <mat-icon
                *ngIf="showIcons"
                [svgIcon]="'reze:facebook'"
              ></mat-icon>
              Facebook
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="right">
    <img
      class="forgot-password-image"
      src="../../../../../../assets/signUpImages/login.png"
      alt=""
    />
  </div>
</div>
</form>
