<div class="header">
  <app-home-page-header class="absolute"></app-home-page-header>
</div>

<div class="main">
  <div class="container">
    <div class="content">
      <div class="left">
        <div class="banner"></div>
        <div class="info">
          <div class="desk">
            <h3 class="sub-title" i18n="@@phoneNumber">Phone Number</h3>
            <p class="text">+383 43 84 84 92</p>
          </div>
          <div class="desk">
            <h3 class="sub-title" i18n="@@emailAddress">Email Address</h3>
            <p class="text">hello@travelonio.com</p>
          </div>
          <div class="desk">
            <h3 class="sub-title" i18n="@@addressGenericText">Address</h3>
            <p class="text">Behind the Comma, SH.P.K</p>
            <p class="text">Rruga Dëshmorët e Kombit 52,</p>
            <p class="text">Klinë, 32000</p>
            <p class="text">Kosovë</p>
          </div>
        </div>
      </div>
      <div class="right">
        <h1 class="title" i18n="@@getInTouch">Get in Touch</h1>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>
