<div class="header">
  <app-home-page-header class="absolute"></app-home-page-header>
</div>
<div class="banner">
  <div class="container">
    <h1 class="title" i18n="@@CancelOptionsGeneric">Cancel options</h1>
  </div>
</div>
<div class="content">
  <div class="container">
    <h1 class="title" i18n="@@cancelOptionsTitle">
      Clarity for your guests. Guaranteed revenue for you
    </h1>
    <p i18n="@@cancelOptionParagraph1">
      Cancellations are an unavoidable part of hospitality. No matter how well
      we plan, unexpected events can force guests to change or cancel their
      bookings. When that happens, it’s important that they know what to expect
      – just as it’s important for hosts to better plan and avoid losing out on
      revenue.
    </p>
    <p i18n="@@cancelOptionParagraph2">
      That is why we have established very simple rules around cancellation.
      Hosts can choose between two tariffs:
    </p>
    <span class="bold" i18n="@@ratePlanStandardPoints">Fully Refundable:</span>
    <p i18n="@@cancelOptionParagraph3">
      Hosts can determine up to which point the reservation can be cancelled and
      fully refunded. Hosts can determine how many days before the planned
      check-in date guests will be fully refunded. They can also choose to fully
      refund reservations at any time, including up to the check-in date. We
      still highly recommend our users to notify the property of their
      cancellation at the earliest possible date.
    </p>
    <span class="bold" i18n="@@ratePlanNonRefundablePoints"
      >Non-Refundable:</span
    >
    <p i18n="@@cancelOptionParagraph4">
      These tariffs are not refundable once booked. Such tariffs usually require
      a partial or full upfront payment.
    </p>
    <p i18n="@@cancelOptionParagraph5">
      Information about the applicable tariff can be found in the room selection
      area when making a reservation. We recommend you read the text there
      carefully. Usually it states the date until which you can cancel the
      reservation. In case of a Non-Refundable tariff it will state so.
    </p>
    <p i18n="@@cancelOptionParagraph6">
      Cancellations can be done by logging into our platform and selecting the
      desired reservation you would like to cancel and click on cancel. You will
      get a confirmation by email at the end. Reservations can also be cancelled
      by notifying our customer service team via email or phone.
    </p>
    <p i18n="@@cancelOptionParagraph7">
      Hosts can adjust their cancellation policies at any point on the property
      registration and management section of the portal.
    </p>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
