<div class="header">
  <app-home-page-header class="absolute"></app-home-page-header>
</div>
<div class="banner">
  <div class="container">
    <h1 class="title" i18n="@@howItWorksText1">
      Find your best stay! FAST and EASY
    </h1>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="process">
      <h1 class="title mb-90" i18n="@@howItWorksText2">
        At travelonio we believe that booking an accommodation should be fast,
        easy and at the lowest cost
      </h1>
      <p class="text-small text-small--center mb-60" i18n="@@howItWorksText3">
        That is why we set out to build a platform that brings together hosts
        and guests where they will interact with each other with ease relying on the
        power of automation so they can focus on what mattes: HAVING A MEMORABLE
        STAY!
      </p>
      <p class="text-small text-small--center mb-60">
        <span i18n="@@howItWorksText4">
          In the digital economy clicks are money... We enable users make and
          save money in just a few clicks...
        </span>
        <span class="text-small text-small--bold" i18n="@@howItWorksText5"
          >and this is how you can do it...</span
        >
      </p>
    </div>
    <h1 class="title" i18n="hosts">Hosts</h1>
    <div class="hosts">
      <div class="icons">
        <div class="item">
          <mat-icon class="icon-big" [svgIcon]="'reze:how1'"></mat-icon>
          <p class="text" i18n="@@registerYourProperty">
            Register your property
          </p>
          <p class="text" i18n="@@registerYourPropertyForFree">FOR FREE</p>
        </div>
        <mat-icon
          class="icon-mid purple-arrow"
          [svgIcon]="'reze:how-purple-arrow'"
        ></mat-icon>
        <div class="item">
          <mat-icon class="icon-big" [svgIcon]="'reze:how2'"></mat-icon>
          <p class="text" i18n="@@addPropertyDetails">Add property details</p>
        </div>
        <mat-icon
          class="icon-big purple-arrow"
          [svgIcon]="'reze:how-purple-arrow'"
        ></mat-icon>
        <div class="item">
          <mat-icon class="icon-big" [svgIcon]="'reze:how3'"></mat-icon>
          <p class="text" i18n="@@receiveReservations">Receive reservations</p>
        </div>
        <div class="arrows">
          <mat-icon class="arrow" [svgIcon]="'reze:how-left-arrow'"></mat-icon>
          <mat-icon
            class="icon-mid purple-arrow"
            [svgIcon]="'reze:how-purple-arrow'"
          ></mat-icon>
          <mat-icon class="arrow" [svgIcon]="'reze:how-right-arrow'"></mat-icon>
        </div>
        <div class="item">
          <mat-icon class="icon-big" [svgIcon]="'reze:how4'"></mat-icon>
          <p class="text" i18n="@@updatePropertyAvailability">
            Update property availability
          </p>
        </div>
      </div>

      <div class="icons icons--clock">
        <div class="clock-content">
          <div class="clock-icon">
            <mat-icon
              class="clock icon-small"
              [svgIcon]="'reze:how-clock'"
            ></mat-icon>
            <mat-icon
              class="icon-mid how-arrow"
              [svgIcon]="'reze:how-arrow'"
            ></mat-icon>
          </div>
          <p class="text" i18n="@@thirtyMinutes">30 minutes</p>
        </div>
        <div class="clock-content">
          <div class="clock-icon">
            <mat-icon
              class="clock icon-small"
              [svgIcon]="'reze:how-clock'"
            ></mat-icon>
            <mat-icon
              class="icon-mid how-arrow"
              [svgIcon]="'reze:how-arrow'"
            ></mat-icon>
          </div>
          <p class="text" i18n="@@ongoing">Ongoing</p>
        </div>
      </div>
    </div>

    <h1 class="title mb-60" i18n="@@benefitsForHosts">Benefits for Hosts</h1>
    <p class="text" i18n="@@howItWorksText6">
      Improve property occupancy rates by tapping into new customer groups while
      saving time and money
    </p>
    <div class="icons icons--between">
      <div class="item">
        <mat-icon class="icon-mid" [svgIcon]="'reze:how5'"></mat-icon>
        <div>
          <p class="text-small text-small--bold" i18n="@@benefitItem1">
            Simple and easy-to-use tool
          </p>
          <ul>
            <li class="text-small" i18n="@@benefitItem1Text1">
              <span class="text-small--bold">Digital platform</span> designed to
              be used by <span class="text-small--bold">all users</span>, from
              digital natives to first time users
            </li>
            <li class="text-small" i18n="@@benefitItem1Text2">
              <span class="text-small--bold">Easy</span> property listing, in
              less than <span class="text-small--bold">30 minutes</span> and
              <span class="text-small--bold"> and free of charge </span>
            </li>
            <li class="text-small" i18n="@@benefitItem1Text3">
              Change prices, room availability and other information
              <span class="text-small--bold">at any time</span>
              directly from our portal
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <mat-icon class="icon-mid" [svgIcon]="'reze:how6'"></mat-icon>
        <div>
          <p class="text-small text-small--bold" i18n="@@benefitItem2">
            Receive more guests while paying less
          </p>
          <ul>
            <li class="text-small" i18n="@@benefitItem2TextExtra">
              <span class="text-small--bold">FREE registration, </span>
              you only pay when you get bookings
            </li>
            <li class="text-small" i18n="@@benefitItem2Text1">
              <span class="text-small--bold">Only 5%</span> commission on
              received reservations
            </li>
            <li class="text-small" i18n="@@benefitItem2Text2">
              More customers via our platform’s appeal to
              <span class="text-small--bold">local</span> and
              <span class="text-small--bold">international users</span>
            </li>
            <li class="text-small" i18n="@@benefitItem2Text3">
              <span class="text-small--bold">Free marketing</span> on our
              platform and our social media channels
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <mat-icon class="icon-mid" [svgIcon]="'reze:how7'"></mat-icon>
        <div>
          <p class="text-small text-small--bold" i18n="@@benefitItem3">
            Flexible payment collection
          </p>
          <ul>
            <li class="text-small" i18n="@@benefitItem3Text1">
              Decide <span class="text-small--bold">how and when</span> you want
              to be paid
            </li>
            <li class="text-small" i18n="@@benefitItem3Text2">
              Possibility to collect payment during
              <span class="text-small--bold">reservation or at property</span>
            </li>
            <li class="text-small" i18n="@@benefitItem3Text3">
              <span class="text-small--bold">Full flexibility</span> on how to
              receive the money paid by guests on our platform, including:
            </li>
            <li class="text-small" i18n="@@benefitItem3Text4">Bank transfer</li>
            <li class="text-small">Paypal</li>
            <li class="text-small">Paysera</li>
            <li class="text-small">Western Union</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="icons icons--around">
      <div class="item">
        <mat-icon class="icon-mid" [svgIcon]="'reze:how8'"></mat-icon>
        <div>
          <p class="text-small text-small--bold" i18n="@@benefitItem4">
            No more large bank transfer fees
          </p>
          <ul>
            <li class="text-small" i18n="@@benefitItem4Text1">
              <span class="text-small--bold"
                >No more large transaction fees</span
              >
              due to receiving payment from international banks
            </li>
            <li class="text-small" i18n="@@benefitItem4Text2">
              Receive money from
              <span class="text-small--bold"
                >local banks with minimal to no fees.</span
              >
            </li>
            <li class="text-small" i18n="@@benefitItem4Text3">
              Choose from a
              <span class="text-small--bold"
                >variety of money transfer options</span
              >
              to save costs and time
            </li>
          </ul>
        </div>
      </div>
      <div class="item">
        <mat-icon class="icon-mid" [svgIcon]="'reze:how9'"></mat-icon>
        <div>
          <p class="text-small text-small--bold" i18n="@@benefitItem5">
            Round the clock customer support
          </p>
          <ul>
            <li class="text-small" i18n="@@benefitItem5Text1">
              <span class="text-small--bold">Customer support</span> ready to
              help <span class="text-small--bold">at any time</span>
            </li>
            <li class="text-small" i18n="@@benefitItem5Text2">
              <span class="text-small--bold">Easy to reach</span> via phone,
              Email, Viber, WhatsApp
            </li>
            <li class="text-small" i18n="@@benefitItem5Text3">
              <span class="text-small--bold">We speak your language.</span> Get
              support in <span class="text-small--bold">Albanian</span> and
              <span class="text-small--bold">English</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <h1 id="guests" class="title mb-30" i18n="@@guests">Guests</h1>
    <div class="icons">
      <div class="item">
        <mat-icon class="icon-big" [svgIcon]="'reze:how10'"></mat-icon>
        <p class="text" i18n="@@visit">Visit travelonio.com</p>
      </div>
      <mat-icon
        class="icon-mid purple-arrow"
        [svgIcon]="'reze:how-purple-arrow'"
      ></mat-icon>
      <div class="item">
        <mat-icon class="icon-big" [svgIcon]="'reze:how11'"></mat-icon>
        <p class="text" i18n="@@findAndBookThePropertyYouLike">
          Find and book the property you like
        </p>
      </div>
      <mat-icon
        class="icon-mid purple-arrow"
        [svgIcon]="'reze:how-purple-arrow'"
      ></mat-icon>
      <div class="item">
        <mat-icon class="icon-big" [svgIcon]="'reze:how12'"></mat-icon>
        <p class="text" i18n="@@enjoyYourStayText">Enjoy your stay</p>
      </div>
    </div>
    <p class="text mb-30" i18n="@@howItWorksText7">
      It’s that simple! Search, compare and book hundreds of properties in
      Kosova, Albania and beyond at get the best deal in just a few clicks...
    </p>
    <p class="text mb-30" i18n="@@howItWorksText8">Find your best stay! Now</p>
  </div>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
